.NavContainer {
   
    padding: 2rem;
    background-color: rgb(198, 215, 101);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavContainer h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
}

.NavContainer a {
    text-decoration: none;
    margin-right: 1rem;
}

.active {
    color: rgb(0, 0, 0);
    font-weight: bold;

}

